.footer {
  background: #000;
  padding: 50px 50px;
  @include max-mobile-xlg {
    padding: 50px 10px;
  }


  &_logo {
    margin-bottom: 25px;
    width: 180px;
  }


  &_socialmedia {
    margin-top: 30px;
    @include max-mobile-xlg {
      margin-bottom: 25px;
    }
    a {
      margin-right: 10px;
      i {
        font-size: 1.2rem;
      }
    }
  }

  &_menu {
    @include max-mobile-xlg {
      margin-bottom: 25px;
      &:last-child {
        margin-bottom: 0;
      }
    }
    ul {
      @include list-unstyled;
      li {
        a {
          border-bottom: 1px solid #fff;
          font-size: 0.9rem;
          @include max-mobile-xlg {
            font-size: 1rem;
          }
          &:hover {
            color: #ccc;
          }

        }
      }
    }
  }

  * {
    color: #fff;
  }

  &-copyright {
    margin-top: 25px;
    @include max-mobile-xlg {
      margin-top: 0;
      margin-bottom: 30px;
    }
    p {
      color: #ccc;
      text-align: left;
      a {
        color: #ccc !important;
      }
    }
  }
}