.header {
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  padding: 15px 50px;
  z-index: 9999;
  background: #fff;
  @include max-mobile-xlg {
    padding: 10px 20px;
  }

  &-branding {
    z-index: 9999;
    position: relative;
    display: inline-flex;

    &_white {
      //position: absolute;
      //left: 0;
      //top: 0;
      display: none;
    }

    img {
      width: 60px;
      @include max-mobile-xlg {
        width: 40px;
      }
    }

    @include max-mobile-xlg {
      &.active {
        .header-branding_white {
          display: block;
        }

        .custom-logo-link {
          display: none;
        }
      }
    }
  }

  &-navigation {
    position: absolute;
    //@include center-absolute;
    right: 50px;
    top: 34px;

    @include max-mobile-xlg {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100vw;
      background: #141414;

      &.active {

        ul {
          opacity: 1;
          transform: translateY(0);
          transition: all 0.3s ease-in-out 0.3s;

        }

      }

      > div {
        @include center-vertically;
        height: 100%;
      }
    }

    ul {

      display: inline-flex;
      @include list-unstyled;
      @include max-mobile-xlg {

        display: block;
        width: max-content;
        @include center;
        text-align: center;
        opacity: 0;
        transform: translateY(30px);
        transition: all 0.3s ease-in-out;

      }

      li {
        margin: 0 15px;
        @include max-mobile-xlg {
          margin: 20px 0;
        }

        &.current-menu-item {
          a {
            border-bottom: 1px solid #000;
            @include max-mobile-xlg {
              border-bottom: 1px solid #fff;
            }
          }
        }

        a {
          font-weight: 500;
          font-size: 0.95rem;
          @include max-mobile-xlg {
            color: #fff;
            font-size: 1.5rem;
            font-weight: 400;
          }

          &:hover {
            color: #444;
          }
        }
      }
    }
  }


  &-toggle {
    position: absolute;
    right: 25px;
    top: 18px;
    animation: scale-in-center 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;


    @include min-mobile-xlg {
      display: none !important;
    }

    .menu-wrapper {
      cursor: pointer;
      padding: 11px 0;
      display: inline-block;
      width: 35px;
    }


    .menu-wrapper span, .menu-wrapper span:before, .menu-wrapper span:after {
      content: '';
      height: 2px;
      width: 100%;
      display: block;
      transition-delay: 0s;
      transition-duration: 0.3s;
      transition-property: all;
      transition-timing-function: ease;
    }

    .menu-wrapper {
      span {
        position: relative;
        background-color: #fff;

        &:before {
          position: absolute;
          background-color: #000000;

          top: -5px;
        }

        &:after {
          position: absolute;
          background-color: #000000;

          top: 5px;
        }

      }

      /* Cross effect */
      &.active .menu-cross {
        transition-duration: 0.1s;
        background: none;
        width: 30px;

        &:before {
          transform: rotate(45deg);
          top: 0;
          background-color: #fff;
          height: 1px;
        }

        &:after {
          transform: rotate(-45deg);
          top: 0;
          background-color: #fff;
          height: 1px;


        }
      }
    }
  }
}


.travel-lists {

  .travel-lists_container {
  }
}
