.give {
  &_tabs {
    * {
      opacity: 1 !important;
      transform: scale(1) !important;
    }
  }
  &-form {
    label {
      font-size: 1rem !important;
      font-weight: 700 !important;
    }
    input, textarea {
      border: 1px solid #000 !important;
      font-size: 1rem !important;
      padding: 10px 12px !important;
      border-radius: 0 !important;
      &::placeholder {
      }
    }
    input[type=checkbox] {
      min-height: unset !important;
    }

    input[type=submit] {
      background: #000 !important;
      color: white !important;
      border-radius: 50px !important;
      text-transform: uppercase !important;
      font-size: 1rem !important;
      padding: 12px 20px !important;
      font-size: 0.9rem !important;
    }

    .give-currency-symbol {
      border-color: #000 !important;
      background: #000 !important;
      color: #fff !important;
      height: 45px !important;
      line-height: 45px !important;

    }
    #give-amount{
      width: auto !important;
      height: 45px !important;
      line-height: 45px !important;
    }

    .give-donation-total-label {
      background: #000 !important;
      color: #fff !important;
      border: 1px solid #000 !important;
      height: 45px !important;
      line-height: 45px !important;
    }
    .give-final-total-amount {
      border: 1px solid #000 !important;
      height: 45px !important;
      line-height: 45px !important;
    }
  }
}