.live_page {
  position: relative;
* {
  opacity: 1 !important;
}

  .livevideo {

    @include max-mobile-xlg {
      top: 0px !important
    }
  }

  .epyt-video-wrapper {
    height: calc(100vh - 90px) !important;
    @include max-mobile-xlg {
      height: 20vh !important;
    }


    iframe {
    }
  }
}