.watch_page {
  position: relative;
  background: #191617;
  @include max-mobile-xlg {
    background: #fff;
  }

  .epyt-gallery {
    position: relative;
    height: calc(100vh - 90px);
    width: 100vw;
    overflow-y: hidden !important;
    overflow-x: hidden !important;
    left: 0;
    top: 0;
    z-index: 99;
    @include max-tablet-xs {
      height: unset;
    }

  }

  .epyt-video-wrapper {
    padding-top: 0 !important;
    width: fit-content;
    overflow-y: hidden;
    @include max-mobile-xlg {
      padding: 0 !important;
      overflow-y: scroll;
    }


    iframe {
      position: relative;
      width: 70vw;
      height: calc(100vh - 90px);
      padding: 20px 0 20px 25px !important;
      @include max-tablet-xs {
        padding: 0 !important;
        width: 100vw !important;
        height: 30vh !important;
        position: absolute !important;
        top: 0 !important;
        left: 0 !important;
        z-index: 999 !important;
      }

    }
  }

  .epyt-gallery-list {
    position: absolute !important;
    right: 0;
    top: 0;
    width: 30vw;
    overflow-y: scroll !important;
    height: calc(100vh - 110px);

    padding-right: 15px;
    border-bottom: 1px solid black;

    @include max-tablet-xs {
      width: 100vw;
      position: unset !important;
      padding: 0 10px 100px;
      height: auto;
      margin-bottom: 0;
      margin-top: 25vh;
    }

    .epyt-pagination:first-child {
      display: none !important;
    }

    .epyt-gallery-allthumbs {
      @include max-mobile-xlg {
        display: flex !important;
        width: max-content !important;
      }
    }


    .epyt-gallery-thumb {
      width: 100% !important;
      padding: 20px !important;
      @include max-mobile-xlg {
        width: 85vw !important;
        padding: 20px 10px !important;

      }

      .epyt-gallery-img-box {
        .epyt-gallery-img {
          border-radius: 7px;
        }
      }

      &:focus {
        outline: none;
      }
    }

    .epyt-current-video {
      position: relative;
      opacity: 0.4;
      //&:before {
      //  position: absolute;
      //  top: 0;
      //  left: 8px;
      //  height: calc(100% - 15px);
      //  width: calc(100% - 16px);
      //  z-index: 999;
      //  background: rgba(0,0,0,0.5);
      //  content: '';
      //}
    }

    .epyt-gallery-title {
      font-size: 1rem !important;
      text-align: left;
      padding: 10px 0;
      font-weight: 600;
      color: #fff;
      @include max-mobile-xlg {
        color: #000;
      }
    }

    .epyt-pagination {
      @include max-mobile-xlg {

        position: absolute;
        @include center-absolute;
        width: 100vw;
      }

      * {
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;
        @include max-mobile-xlg {
          font-size: 0.8rem;
          color: #000;
        }
      }
    }
  }

  //.epyt-pagination:first-child {
  //  display: none !important;
  //}
  //
  //.epyt-video-wrapper {
  //  padding: 30px;
  //
  //  iframe {
  //    height: 70vh;
  //    @include max-tablet-xs {
  //      width: 100vw !important;
  //      height: 30vh !important;
  //      position: absolute !important;
  //      top: 0 !important;
  //      left: 0 !important;
  //      z-index: 999 !important;
  //    }
  //  }
  //}
  //
  //.epyt-gallery-list {
  //  position: unset !important;
  //  padding: 0 10px 100px;
  //  height: auto;
  //  margin: 0;
  //  margin-top: 20px;
  //  //display: flex;
  //  overflow-x: scroll !important;
  //
  //  @include max-tablet-xs {
  //    width: 100vw;
  //    position: unset !important;
  //    padding: 0 10px 50px;
  //    height: auto;
  //    margin-bottom: 50px;
  //    margin-top: 25vh;
  //  }
  //
  //  .epyt-gallery-allthumbs {
  //
  //    display: flex !important;
  //    width: max-content !important;
  //
  //
  //    .epyt-gallery-thumb {
  //      width: 30vw !important;
  //      padding: 20px !important;
  //      @include max-mobile-xlg {
  //        width: 85vw !important;
  //        padding: 20px 10px !important;
  //
  //      }
  //
  //      .epyt-gallery-img-box {
  //        .epyt-gallery-img {
  //          border-radius: 7px;
  //        }
  //      }
  //
  //      &:focus {
  //        outline: none;
  //      }
  //    }
  //  }
  //}
  //
  //.epyt-pagination {
  //
  //  position: absolute;
  //  @include center-absolute;
  //  width: 100vw;
  //}
  //
  //* {
  //  text-transform: uppercase;
  //  font-weight: 700;
  //  color: #fff;
  //  @include max-mobile-xlg {
  //    font-size: 0.8rem;
  //  }
  //}

}