
@import url(https://fonts.googleapis.com/css?family=Roboto:300,300italic,400,400italic,500,500italic,700,700italic,900,900italic);

@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

@mixin font-family-heading {
  font-family: 'Yantramanav', sans-serif;
}

@mixin font-family-default {
  font-family: 'Yantramanav', sans-serif;
}

.font-family-heading {
  font-family: 'Yantramanav', sans-serif;
}

.font-family-default {
  font-family: 'Yantramanav', sans-serif;
}

