.btn {
  &_give {



    @include min-mobile-xlg {
      background: #000;
      color: #fff;
      border-radius: 50px;
      padding: 7px 10px !important;
      margin-top: -5px !important;
      &:hover {
        background: #141414 !important;
      }
    }

    a {
      @include min-mobile-xlg {
        padding: 7px 10px !important;
        &:hover {
          color: white !important;
        }
      }

    }


  }
}